<header class="slideInDown wow" data-wow-duration="1.25s">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand light" href="#">
      <img src="../assets/images/angular.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Posts Assessment
    </a>
  </nav>
</header>

<main class="p-4">
  <div class="jumbotron mb-0" *ngIf="posts" >
    <div>
      <h1>Latest Posts</h1>

      <hr class="mb-3">
    </div>
    <div class="text-right mb-3">

      <button (click)="createPost()" class="btn btn-primary text-white mr-1">Create New Post</button>
    </div>
    <app-post *ngFor="let post of posts" [post]="post" class="slideInUp wow" data-wow-duration="2s"></app-post>
  </div>
</main>

<footer class="slideInUp wow" data-wow-duration="1.25s">
  <nav class="navbar bg-primary text-center">
    <p class="footer-text white my-2 w-100">
      &copy; Ralwinn Johnson.
    </p>
  </nav>
</footer>
